.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
}
.display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #ffffff;
  color: #dd1264;
  height: 40px;
  width: 160px;
  border-radius: 12px;
  border-width: 0px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}
.fname-box {
  height: 120px;
  width: 230px;
  background-color: #ffffff;
  color: #fddddb;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 15px;
}
.lname-box {
  height: 120px;
  width: 230px;
  background-color: #ffffff;
  color: #fddddb;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 15px;
}

.adjust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  color: #000000;
  font-size: 20px;
  align-self: center;
}
